extends layout

prepend head
  script(src=process.env.VOXBONE_JS_LIB_URL)
  link(rel="stylesheet" href="/lib/flag-icon-css/css/flag-icon.min.css")
append head
  script.
    require([
      'angular',
      'controllers/demo'
    ],
    function (angular, DemoController, jQueryMask) {
      angular.module('did-webrtc-frontend', [])
        .controller('DemoController', DemoController);
      angular.bootstrap(document, ['did-webrtc-frontend']);
    });

block content
  .site-wrapper-inner.home-wrap.demo-page
    .container(ng-controller="DemoController" ng-init=`init(${JSON.stringify(config)}, "${ringtone}", "${email}")`)
      .row
        .ng-cloak.col-md-12
          .row
            .col-md-6
              .panel.call-page-content
                h4 Place a test call
                h5 Call from the PSTN:
                .dids-container.text-center
                  .well.bridge-number
                    span.fa.fa-globe(ng-show=`'${dids[0].country_iso2}' == 'wld'`)
                    div.flag-icon(ng-hide=`'${dids[0].country_iso2}' == 'wld'` class=`flag-icon-${dids[0].country_iso2}`)
                    |&nbsp; #{dids[0].did_number}
                  .well.bridge-number
                    span.fa.fa-globe(ng-show = `'${dids[1].country_iso2}' == 'wld'`)
                    div.flag-icon(ng-hide = `'${dids[1].country_iso2}' == 'wld'` class=`flag-icon-${dids[1].country_iso2}`)
                    | &nbsp; #{dids[1].did_number}
                .text-center.or OR
                h5 Use a phone to call:
                .internalSip
                  span sip:#{internal_sip}
                .text-center.or OR
                h5 Use WebRTC to call from your browser
                .text-center
                  .voxButton#voxButton
                    link(rel="stylesheet" href="https://click2vox.com/stylesheets/widget.css?v=200")
                    script(src="https://click2vox.com/javascripts/widget.js?v=200")
                    iframe#call_button_frame(width="300" height="183" frameBorder="0" scrolling="no" src=`https://click2vox.com/voxbone_widget/${widget_id}`)
                    #control
                    h6 Use #[a.contact-link(href="https://click2vox.com") click2vox] to generate your own WebRTC
                .clearfix
            .col-md-6
              .call-page-content.panel
                h4 Click-to-answer your call
                .col-md-6
                  #status-message-list
                .col-md-6
                  .img-container
                    #microphone.int-sensor(ng-show="isCallOngoing()")
                    #earphone.int-sensor(ng-show="isCallOngoing()")
                    img(ng-src="{{getPhoneImage()}}")
                    .call-actions
                      button.btn.btn-answer.call-button(ng-disabled="!isCallReceiving()" ng-show="!isCallOngoing()" ng-click="answerCall()")
                        span.glyphicon.glyphicon-ok
                        | Answer
                      button.btn.btn-decline.call-button(ng-show="isCallReceiving()" ng-click="declineCall()")
                        span.glyphicon.glyphicon-earphone
                        | Decline
                      button.btn.btn-hangup.call-button(ng-show="isCallOngoing()" ng-click="hangCall()")
                        span.glyphicon.glyphicon-earphone
                        | Hang up
                  .text-center.trouble-connecting
                    span Trouble connecting? #[a.contact-link(target="_blank" href="mailto:workshop@voxbone.com?subject=did2webrtc connection help") Contact us]
                h4 Behind the scenes
                #console
