extends layout

prepend head
  script(src=process.env.VOXBONE_JS_LIB_URL)
  link(rel="stylesheet" href="/lib/flag-icon-css/css/flag-icon.min.css")
append head
  script.
    require([
      'angular',
      'controllers/phone'
    ],
    function (angular, PhoneController, jQueryMask) {
      angular.module('did-webrtc-frontend', [])
        .controller('PhoneController', PhoneController);
      angular.bootstrap(document, ['did-webrtc-frontend']);
    });

block content
  .site-wrapper-inner.home-wrap
    .container(ng-controller="PhoneController" ng-init=`init(${JSON.stringify(config)}, "${ringtone}", "${browserNotifications}", "${email}")`)
      .call-page-content.ng-cloak.col-md-12
        .row
          .col-md-6
            h4 Call Status
            #status-message-list
          .col-md-6
            h4 Your phone
            .well.bridge-number
              .text-center
                if dids
                  span.fa.fa-globe(ng-show=`'${dids[0].country_iso2}' == 'wld'`)
                  div.flag-icon(ng-hide=`'${dids[0].country_iso2}' == 'wld'` class=`flag-icon-${dids[0].country_iso2}`)
                  | &nbsp; #{dids[0].did_number}
                else
                  span This Web-Phone has no liked DID.
            .call-sip
              p Or use &nbsp;
                span sip:#{config.voxbone_webrtc_username}+{{user.browserUsername}}@workshop-gateway.voxbone.com
            .img-container
              #phone-microphone.phone-int-sensor(ng-show="callState == 'ongoing'")
                #mic1.sensor.sensor-01
                #mic2.sensor.sensor-02
                #mic3.sensor.sensor-03
              #phone-earphone.phone-int-sensor(ng-show="callState == 'ongoing'")
                #eap1.sensor.sensor-01
                #eap2.sensor.sensor-02
                #eap3.sensor.sensor-03
              img(ng-src="{{phoneImg}}")
              .call-actions
                button.btn.btn-answer.call-button(ng-disabled="callState !== 'receiving'" ng-show="callState !== 'ongoing'" ng-click="answerCall()")
                  span.glyphicon.glyphicon-ok
                  | Answer
                button.btn.btn-decline.call-button(ng-show="callState == 'receiving'" ng-click="declineCall()")
                  span.glyphicon.glyphicon-earphone
                  | Decline
                button.btn.btn-hangup.call-button(ng-show="callState == 'ongoing'" ng-click="hangCall()")
                  span.glyphicon.glyphicon-earphone
                  | Hang up
            .text-center.trouble-connecting
              span Trouble connecting? #[a.contact-link(target="_blank" href="mailto:workshop@voxbone.com?subject=did2webrtc connection help") Contact us]
